<div class="rounded-border overflow-hidden w-full">
{% if product.handle == "how-to-have-sex"%}
  <div class="bg-sky text-dark-purple flex">
    <div class="md:w-1/4 w-full px-8 features-item-list">
      <div class="features-item">
        <svg width="20" height="25" viewBox="0 0 20 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M19.1394 20.0013L17.656 19.2596V4.91401C17.656 3.70016 16.6628 2.70701 15.449 2.70701H4.41395C4.41395 1.49315 5.39607 0.5 6.60993 0.5H17.656C18.8699 0.5 19.863 1.49315 19.863 2.70701V19.554C19.863 19.9257 19.4718 20.1675 19.1394 20.0013ZM2.20701 4.91402H13.242C14.4559 4.91402 15.449 5.90717 15.449 7.12103V24.0188C15.449 24.3778 15.082 24.6198 14.7521 24.4784L7.72452 21.4666L0.69696 24.4784C0.367025 24.6198 0 24.3778 0 24.0188V7.12103C0 5.90717 0.993153 4.91402 2.20701 4.91402Z" fill="#5B1D3D"/>
          </svg>
        <div class="features-title">Evidence based education</div>
      </div>
    </div>
    <div class="md:w-1/4 w-full px-8 features-item-list">
      <div class="features-item">
        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0)">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M10.7194 21.8968C10.9942 21.8959 11.2671 21.799 11.4841 21.6113C12.2005 21.0143 12.8722 20.4527 13.5007 19.9219C12.6585 18.9019 12.1751 17.8535 12.1751 16.5361C12.1751 14.088 13.9498 11.8649 16.342 11.8649C17.354 11.8649 18.1467 12.1939 18.7463 12.6384C19.2848 12.2388 19.9793 11.9324 20.8487 11.8741C21.1496 11.0807 21.2959 10.2611 21.2959 9.36376C21.2959 5.50404 18.3999 2.5 15.4181 2.5C13.0538 2.5 11.5703 3.74816 10.7158 4.96539C9.86136 3.74816 8.37784 2.5 6.01357 2.5C2.87341 2.5 0.135742 5.52666 0.135742 9.36376C0.135742 11.3958 0.886235 13.0292 2.48199 14.8617C4.02451 16.6331 6.45467 18.7004 9.94765 21.6113C10.0275 21.6805 10.115 21.7373 10.2074 21.7815C10.3696 21.8594 10.5449 21.8974 10.7194 21.8968Z" fill="#5B1D3D"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M18.7566 14.6014C18.726 14.5501 18.6932 14.4982 18.6583 14.4462C18.2522 13.8421 17.5275 13.2022 16.3512 13.2022C14.8353 13.2022 13.5137 14.6633 13.5137 16.5157C13.5137 17.4967 13.876 18.2852 14.6463 19.1699C15.3921 20.0263 16.5677 21.026 18.258 22.4346C18.4019 22.5545 18.5877 22.5911 18.7567 22.5498C18.9257 22.5911 19.1114 22.5545 19.2553 22.4346C20.9456 21.026 22.1212 20.0263 22.867 19.1699C23.6373 18.2852 23.9996 17.4967 23.9996 16.5157C23.9996 14.6524 22.6016 13.2021 21.1621 13.2021C19.9858 13.2021 19.2611 13.8421 18.855 14.4462C18.8201 14.4982 18.7873 14.5501 18.7566 14.6014Z" fill="#5B1D3D"/>
          </g>
          <defs>
          <clipPath id="clip0">
          <rect width="24" height="24" fill="white" transform="translate(0 0.5)"/>
          </clipPath>
          </defs>
          </svg>
        <div class="features-title">For all bodies & all identities</div>
      </div>
    </div>
    <div class="md:w-1/4 w-full px-8 features-item-list">
      <div class="features-item">
        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M1 4.76667C1 4.06711 1.56711 3.5 2.26667 3.5H16.2C16.8996 3.5 17.4667 4.06711 17.4667 4.76667C17.4667 5.46623 16.8996 6.03334 16.2 6.03334H2.26667C1.56711 6.03334 1 5.46623 1 4.76667Z" fill="#5B1D3D"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M1 9.83307C1 9.13351 1.56711 8.56641 2.26667 8.56641H16.2C16.8996 8.56641 17.4667 9.13351 17.4667 9.83307C17.4667 10.5326 16.8996 11.0997 16.2 11.0997H2.26667C1.56711 11.0997 1 10.5326 1 9.83307Z" fill="#5B1D3D"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M1 14.9005C1 14.2009 1.56711 13.6338 2.26667 13.6338H8.60001C9.29957 13.6338 9.86668 14.2009 9.86668 14.9005C9.86668 15.6 9.29957 16.1671 8.60001 16.1671H2.26667C1.56711 16.1671 1 15.6 1 14.9005Z" fill="#5B1D3D"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M23.3597 12.6862C23.9006 13.1509 23.9493 13.9516 23.4685 14.4744L16.48 22.0744C16.2402 22.3352 15.8998 22.4888 15.5391 22.499C15.1784 22.5093 14.8293 22.3752 14.5741 22.1286L11.5166 19.173C11.0049 18.6783 11.0049 17.8763 11.5166 17.3817C12.0283 16.887 12.858 16.887 13.3697 17.3817L15.4445 19.3873L21.5098 12.7914C21.9906 12.2685 22.8188 12.2214 23.3597 12.6862Z" fill="#5B1D3D"/>
          </svg>

        <div class="features-title">Easy-to-follow instructions</div>
      </div>
    </div>
    <div class="md:w-1/4 w-full px-8 features-item-list">
      <div class="features-item">
        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0)">
          <rect x="14.2168" y="8" width="12" height="12" rx="2.24393" transform="rotate(31.2013 14.2168 8)" fill="#5B1D3D"/>
          <circle cx="12.4368" cy="17.1751" r="1.38462" transform="rotate(31.2013 12.4368 17.1751)" fill="#D0F4FF"/>
          <circle cx="20.0432" cy="15.3049" r="1.38462" transform="rotate(31.2013 20.0432 15.3049)" fill="#D0F4FF"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M0.444558 2.84438C0.489201 1.82576 1.35115 1.03619 2.36977 1.08083L10.6695 1.44458C11.6881 1.48922 12.4777 2.35117 12.4331 3.3698L12.2391 7.79468C12.0616 7.94211 11.9036 8.11921 11.7729 8.32426L8.56128 13.3637L1.84436 13.0693C0.825737 13.0247 0.0361683 12.1627 0.080811 11.1441L0.444558 2.84438ZM7.64022 7.31758C7.60674 8.08155 6.96027 8.67372 6.19631 8.64024C5.43234 8.60676 4.84016 7.9603 4.87364 7.19633C4.90712 6.43236 5.55359 5.84018 6.31756 5.87366C7.08152 5.90715 7.6737 6.55361 7.64022 7.31758Z" fill="#5B1D3D"/>
          </g>
          <defs>
          <clipPath id="clip0">
          <rect width="24" height="24" fill="white" transform="translate(0 0.5)"/>
          </clipPath>
          </defs>
          </svg>

        <div class="features-title">No nudity or live sex</div>
      </div>
    </div>
  </div>
{% endif %}
{% if product.handle == "1470308"%}
  <div class="bg-sky text-dark-purple flex">
    <div class="md:w-1/4 w-full px-8 features-item-list">
      <div class="features-item">
       <svg width="20" height="25" viewBox="0 0 20 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M19.1394 20.0013L17.656 19.2596V4.91401C17.656 3.70016 16.6628 2.70701 15.449 2.70701H4.41395C4.41395 1.49315 5.39607 0.5 6.60993 0.5H17.656C18.8699 0.5 19.863 1.49315 19.863 2.70701V19.554C19.863 19.9257 19.4718 20.1675 19.1394 20.0013ZM2.20701 4.91402H13.242C14.4559 4.91402 15.449 5.90717 15.449 7.12103V24.0188C15.449 24.3778 15.082 24.6198 14.7521 24.4784L7.72452 21.4666L0.69696 24.4784C0.367025 24.6198 0 24.3778 0 24.0188V7.12103C0 5.90717 0.993153 4.91402 2.20701 4.91402Z" fill="#5B1D3D"/>
        </svg>
        <div class="features-title">Evidence based education</div>
      </div>
    </div>
    <div class="md:w-1/4 w-full px-8 features-item-list">
      <div class="features-item">
        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0)">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M10.7194 21.8968C10.9942 21.8959 11.2671 21.799 11.4841 21.6113C12.2005 21.0143 12.8722 20.4527 13.5007 19.9219C12.6585 18.9019 12.1751 17.8535 12.1751 16.5361C12.1751 14.088 13.9498 11.8649 16.342 11.8649C17.354 11.8649 18.1467 12.1939 18.7463 12.6384C19.2848 12.2388 19.9793 11.9324 20.8487 11.8741C21.1496 11.0807 21.2959 10.2611 21.2959 9.36376C21.2959 5.50404 18.3999 2.5 15.4181 2.5C13.0538 2.5 11.5703 3.74816 10.7158 4.96539C9.86136 3.74816 8.37784 2.5 6.01357 2.5C2.87341 2.5 0.135742 5.52666 0.135742 9.36376C0.135742 11.3958 0.886235 13.0292 2.48199 14.8617C4.02451 16.6331 6.45467 18.7004 9.94765 21.6113C10.0275 21.6805 10.115 21.7373 10.2074 21.7815C10.3696 21.8594 10.5449 21.8974 10.7194 21.8968Z" fill="#5B1D3D"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M18.7566 14.6014C18.726 14.5501 18.6932 14.4982 18.6583 14.4462C18.2522 13.8421 17.5275 13.2022 16.3512 13.2022C14.8353 13.2022 13.5137 14.6633 13.5137 16.5157C13.5137 17.4967 13.876 18.2852 14.6463 19.1699C15.3921 20.0263 16.5677 21.026 18.258 22.4346C18.4019 22.5545 18.5877 22.5911 18.7567 22.5498C18.9257 22.5911 19.1114 22.5545 19.2553 22.4346C20.9456 21.026 22.1212 20.0263 22.867 19.1699C23.6373 18.2852 23.9996 17.4967 23.9996 16.5157C23.9996 14.6524 22.6016 13.2021 21.1621 13.2021C19.9858 13.2021 19.2611 13.8421 18.855 14.4462C18.8201 14.4982 18.7873 14.5501 18.7566 14.6014Z" fill="#5B1D3D"/>
          </g>
          <defs>
          <clipPath id="clip0">
          <rect width="24" height="24" fill="white" transform="translate(0 0.5)"/>
          </clipPath>
          </defs>
          </svg>

        <div class="features-title">For all bodies and identities</div>
      </div>
    </div>
    <div class="md:w-1/4 w-full px-8 features-item-list">
      <div class="features-item">
       <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M1 4.76667C1 4.06711 1.56711 3.5 2.26667 3.5H16.2C16.8996 3.5 17.4667 4.06711 17.4667 4.76667C17.4667 5.46623 16.8996 6.03334 16.2 6.03334H2.26667C1.56711 6.03334 1 5.46623 1 4.76667Z" fill="#5B1D3D"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M1 9.83307C1 9.13351 1.56711 8.56641 2.26667 8.56641H16.2C16.8996 8.56641 17.4667 9.13351 17.4667 9.83307C17.4667 10.5326 16.8996 11.0997 16.2 11.0997H2.26667C1.56711 11.0997 1 10.5326 1 9.83307Z" fill="#5B1D3D"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M1 14.9005C1 14.2009 1.56711 13.6338 2.26667 13.6338H8.60001C9.29957 13.6338 9.86668 14.2009 9.86668 14.9005C9.86668 15.6 9.29957 16.1671 8.60001 16.1671H2.26667C1.56711 16.1671 1 15.6 1 14.9005Z" fill="#5B1D3D"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M23.3597 12.6862C23.9006 13.1509 23.9493 13.9516 23.4685 14.4744L16.48 22.0744C16.2402 22.3352 15.8998 22.4888 15.5391 22.499C15.1784 22.5093 14.8293 22.3752 14.5741 22.1286L11.5166 19.173C11.0049 18.6783 11.0049 17.8763 11.5166 17.3817C12.0283 16.887 12.858 16.887 13.3697 17.3817L15.4445 19.3873L21.5098 12.7914C21.9906 12.2685 22.8188 12.2214 23.3597 12.6862Z" fill="#5B1D3D"/>
        </svg>

        <div class="features-title">Easy-to-follow instructions</div>
      </div>
    </div>
    <div class="md:w-1/4 w-full px-8 features-item-list">
      <div class="features-item">
        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0)">
          <rect x="14.2168" y="8" width="12" height="12" rx="2.24393" transform="rotate(31.2013 14.2168 8)" fill="#5B1D3D"/>
          <circle cx="12.4368" cy="17.1751" r="1.38462" transform="rotate(31.2013 12.4368 17.1751)" fill="#D0F4FF"/>
          <circle cx="20.0432" cy="15.3049" r="1.38462" transform="rotate(31.2013 20.0432 15.3049)" fill="#D0F4FF"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M0.444558 2.84438C0.489201 1.82576 1.35115 1.03619 2.36977 1.08083L10.6695 1.44458C11.6881 1.48922 12.4777 2.35117 12.4331 3.3698L12.2391 7.79468C12.0616 7.94211 11.9036 8.11921 11.7729 8.32426L8.56128 13.3637L1.84436 13.0693C0.825737 13.0247 0.0361683 12.1627 0.080811 11.1441L0.444558 2.84438ZM7.64022 7.31758C7.60674 8.08155 6.96027 8.67372 6.19631 8.64024C5.43234 8.60676 4.84016 7.9603 4.87364 7.19633C4.90712 6.43236 5.55359 5.84018 6.31756 5.87366C7.08152 5.90715 7.6737 6.55361 7.64022 7.31758Z" fill="#5B1D3D"/>
          </g>
          <defs>
          <clipPath id="clip0">
          <rect width="24" height="24" fill="white" transform="translate(0 0.5)"/>
          </clipPath>
          </defs>
          </svg>

        <div class="features-title">Solo & partner-friendly</div>
      </div>
    </div>
  </div>
{% endif %}
</div>

