/*
 *  1.0. Mixins
*/
.popup {
  position: fixed;
  right: var(--gutter-large);
  bottom: var(--gutter-large);
  width: calc(100% - (var(--gutter-large) * 2));
  background: var(--color-background-main);
  color: var(--color-text-main);
  border: 1px solid var(--color-borders-main);
  transform: translateY(3.125rem);
  opacity: 0;
  transition: all 300ms linear 50ms;
  z-index: 999;
  overflow: hidden;
  visibility: hidden;
}
.popup.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.popup-size--small {
  max-width: 21.25rem;
}
.popup-size--large {
  max-width: 33.75rem;
}
.popup--newsletter input {
  padding-right: 3.125rem;
}
.popup--newsletter button[type=submit] {
  top: var(--gutter-small);
  position: absolute;
  right: 0;
  width: 50px;
  height: calc(100% - var(--gutter-small));
  padding-top: 9px;
}
.no-touchevents .popup--newsletter button[type=submit]:hover svg {
  transform: scale(1.1);
}
.popup--newsletter button[type=submit] svg {
  width: 70%;
  height: 70%;
}
.popup--cart .mini-cart-popup {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.popup--cart .mini-cart-popup__checkmark {
  width: 5rem;
  height: 5rem;
}
.popup--cart .mini-cart-popup__checkmark .path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}
.popup--cart .mini-cart-popup__checkmark .path.circle {
  stroke-dashoffset: 1000;
}
.popup--cart .mini-cart-popup__checkmark .path.check {
  stroke-dashoffset: -100;
}
.popup--cart.active .mini-cart-popup__checkmark .path.circle {
  animation: dash 0.9s ease-in-out forwards;
}
.popup--cart.active .mini-cart-popup__checkmark .path.check {
  animation: dash-check 0.9s 0.35s ease-in-out forwards;
}

.popup-close {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  z-index: 999;
  cursor: pointer;
  transition: all 150ms linear;
}
.no-touchevents .popup-close:hover {
  transform: scale(1.1);
}

.stacked-popups {
  position: fixed;
  right: var(--gutter-regular);
  bottom: var(--gutter-regular);
  display: grid;
  grid-template-columns: 100%;
  gap: var(--gutter-regular);
  justify-items: end;
  z-index: 999;
  pointer-events: none;
  width: calc(100% - (var(--gutter-regular) * 2));
}
.stacked-popups .popup {
  pointer-events: all;
  position: relative;
  bottom: 0;
  right: 0;
  width: 100%;
}
@media screen and (max-width: 474px) {
  .stacked-popups .popup {
    max-width: 100%;
  }
}
.stacked-popups .popup-title {
  padding-right: 2.5rem;
  font-family: var(--font-stack-headings-primary);
  font-weight: var(--font-weight-headings-primary);
  font-style: var(--font-style-headings-primary);
  line-height: 1;
}
@media screen and (max-width: 474px) {
  .stacked-popups .popup-title {
    font-size: calc(
				18px / 60 * var(--base-headings-primary-size) + 0px
			);
  }
}
@media screen and (min-width: 475px) and (max-width: 1023px) {
  .stacked-popups .popup-title {
    font-size: calc(
					20px / 60 * var(--base-headings-primary-size) + 0px
				);
  }
}
@media screen and (min-width: 1024px) {
  .stacked-popups .popup-title {
    font-size: calc(
				20px / 60 * var(--base-headings-primary-size) + 0px
			);
  }
}

.popup-text--no-content {
  background-color: rgba(0, 0, 0, 0.04);
}
.popup-text--no-content svg {
  width: 100%;
  height: 100%;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}